$border-color: #ebebeb;
$outline-color: #b6b6b6;

$info-cell-width: 40px;
$cell-width: 120px;

$header-height: 35px;
$toolbar-height: 35px;
$formula-height: 25px;

$row-height: 24px;

$db-header-height: 64px;
